server:
  port: 8084

spring:
  application:
    name: comment-service

  datasource:
    url: ${COMMENT_DB_URL:jdbc:postgresql://localhost:5432/nexa_comment_db}
    username: ${COMMENT_DB_USERNAME:postgres}
    password: ${COMMENT_DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  config:
    import: "optional:configserver:http://localhost:8888/"

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}