server:
  port: 8085

spring:
  application:
    name: reaction-service

  datasource:
    url: ${REACTION_DB_URL:jdbc:postgresql://localhost:5432/nexa_reaction_db}
    username: ${REACTION_DB_USERNAME:postgres}
    password: ${REACTION_DB_PASSWORD:admin}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  config:
    import: "optional:configserver:http://localhost:8888/"

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}